.adver-cont{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
}
.left-arw{
    top:50%;
    left:50px;
    font-size:xx-large;
    font:bold;
    font-weight: 500;
    position: absolute;
    cursor: pointer;
}
.right-arw{
    top:50%;
    right: 50px;
    font-size: xx-large;
    font:bold;
    font-weight: 500;
    position: absolute;
    cursor: pointer;
}
.left-arw:hover,.right-arw:hover{
    height: 200px;
    width: 100px;
    border: 2px solid black;
    margin-bottom: 50px;
}
